{% extends 'base-cam.html' %}

{% block start %}
<div class="main-wrapper-camera bg-blue">
    <div class="container-fluid p-2 mx-auto">
        {% load static %}
        <a class="navbar-brand animate" href="#">
            <img class="animate-img" src="{% static 'assets/img/logo.png' %}" alt="logo">
        </a>
    </div>
    <div class="container d-md-flex align-items-center rounded ">
        <div class="col-md-6 col-sm-12 bg-dark ">
            <div class="camera-container cam-div">

            </div>
        </div>
        <div class="col-md-6 col-sm-12 ">
            <div class="camera-container data-div mt-3">
                <div class="d-flex justify-content-center">
                    {% load static %}
                    <img src="{% static 'assets/img/Puneeth.jpg' %}" alt="knownface" class="img-fluid knownface">

                </div>
                <div class="data-flow text-center col-md-6 col-sm-12 mx-auto pt-3">
                    <div class="data-box">
                        <span class="text-center">Puneeth</span>
                    </div>
                    <div class="data-box">
                        <span class="text-center">ID: 123456</span>
                    </div>
                    <div class="data-box">
                        <span class="text-center">Designation: Software Developer</span>
                    </div>
                    <div class="data-box">
                        <span class="text-center">Email: puneeth@chezzion.com</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}