{% extends 'base-cam.html' %}
{% load static %}

{% block start %}
<div class="main-wrapper-camera bg-blue">
    <div class="container-fluid p-2 mx-auto">
        <a class="navbar-brand animate" href="#">
            <img class="animate-img" src="{% static 'assets/img/logo.png' %}" alt="logo">
        </a>
    </div>

    <div class="container d-md-flex align-items-center rounded">
        <div class="row w-100">
            <div class="col-md-6 col-sm-12">
                <div class="camera-container cam-div">
                    <div id="video-container" class=" border-5 border-custom rounded">
                        <img id="video" src="{% url 'video_feed' %}" width="100%">
                    </div>


                    <canvas id="canvas" style="display:none;"></canvas>
                    <p id="loadingText" style="display: none;" class="text-warning">Processing...</p>
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <div class="camera-container data-div mt-3">
                    <div class="d-flex justify-content-center">
                        <img id="knownFace" src="{% static 'assets/img/default_user.png' %}" alt="knownface"
                            class="img-fluid knownface">
                    </div>
                    <div class="data-flow text-center col-md-6 col-sm-12 mx-auto pt-3">
                        <div class="data-box"><span id="empName"></span></div>
                        <div class="data-box"><span id="empID"></span></div>
                        <div class="data-box"><span id="empDesignation"></span></div>
                        <div class="data-box"><span id="attendanceStatus" class="text-success"></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var defaultImage = "{% static 'assets/img/default_user.png' %}";

    function updateEmployeeData() {
        fetch("{% url 'detected_employee' %}")
            .then(response => response.json())
            .then(data => {
                document.getElementById("empName").textContent = data.emp_name || "Unknown";
                document.getElementById("empID").textContent = data.emp_id || "Unknown";
                document.getElementById("empDesignation").textContent = data.designation || "Unknown";
                document.getElementById("attendanceStatus").textContent = data.attendance_status;

                document.getElementById("knownFace").src = data.image ? data.image : defaultImage;
            })
            .catch(error => console.error("Error fetching employee data:", error));
    }

    setInterval(updateEmployeeData, 2000);



    setInterval(updateEmployeeData, 2000);

</script>



{% endblock %}