<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee List</title>
</head>

<body>
    <h1>Employees</h1>
    <ul>
        {% for employee in employees %}
        <li>
            {{ employee.name }} - {{ employee.email }}
            <br>
            {% if employee.image %}
            <img src="{{ employee.image.url }}" alt="Employee Image">
            {% else %}
            <img src="default-image.jpg" alt="Default Employee Image">
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</body>

</html>